[submodule "thirdparty/websocketpp"]
	path = thirdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
